body {
  background-color: rgb(255, 191, 200);
}
.active {
  margin-right: 20px;
}
.dateAndDay {
  display: flex;
  justify-content: center;
  margin: 20px;
}
h1 {
  background-color: rgb(253, 139, 158);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 3px 3px 7px rgb(122, 122, 122);
}
#navBtn {
  border: none;
  background-color: rgb(255, 191, 200);
  margin-left: 6px;
  margin-right: 15px;
  padding: 5px;
  transition: 0.5s all;
  border-radius: 5px;
  margin-top: 5px;
}
#navBtn:hover {
  background-color: rgb(253, 142, 156);
}
table {
  border: none; 
  background-color: rgb(253, 142, 156);
  margin-top: -23px;
}

td {
  border: none; 
  padding: 0px;
  box-shadow: 3px 3px 7px rgb(122, 122, 122);   
}
tr{
    border: none;
}
.table {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-direction: column;
  margin-top: 50px;
  background-color: rgb(255, 191, 200);
}
.newItem {
  width: 376px;
  border: none;
  height: 60px;
}
.newItem::placeholder {
  font-size: 20px;
  text-align: center;
  border: none;
  opacity: 0.6;
}
.inputItems {
  box-shadow: 3px 3px 7px rgb(122, 122, 122);
  height: 60px;
}
.add {
  width: 60px;
  height: 60px;
  border: none;
  margin-left: 0px;
  background-color: pink;
  margin-top: auto;
  text-justify:auto;
}
.newItem:focus {
  outline: none;
  text-align: center;
}
.listElements {
  background-color: white;
  width: 436px;
  border: none;
  height: 60px;
  display: flex;
  box-shadow: 3px 3px 7px rgb(122, 122, 122);
  align-items: center;
  padding-left: 6px;
}
span {
  margin-top: -3.5px;
  margin-left: 5px;
}
.tick:checked ~ span {
  text-decoration: line-through;
}
.plus{
    font-size: 35px;
    color: rgb(72, 72, 72);
}
@media (max-width: 450px) {
  .newItem {
    width: 220px;
  }
  .listElements {
    width: 280px;
  }
  h1 {
    width: 220px;
    text-align: center;
  }
  .dateAndDay {
    margin: 0;
    text-align: center;
  }
  .add {
    margin-left: -5px;
  }
  #navBtn {
    margin-right: 0px;
    margin-left: 0;
    margin-top: 5px;
  }
}

